<div class="clearfix" id="slideshow">
  
  <div id="default-slide-message">
    <h1>Welcome to your new online store!</h1>
    <p>Let's get started! To add products and change the contents of your store, go to your admin by clicking <a href="/admin">here</a> or click the <strong>“Go to store admin”</strong> button in the top left.</p>
  </div><!-- #defualt-slide-message -->
  
</div>